@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

.card-img-top {
  background-position: top;
  background-size: cover;
  height: 300px;
  object-fit: cover;
}